# Gradle build files and cache
/build/
.gradle/

# Compiled Java files and archives
*.class
*.jar
*.war
*.log

# IDE config files
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS system files
.DS_Store
Thumbs.db

# Spring Boot config files (to keep credentials private)
application.properties
application.yml
application-*.properties
application-*.yml

# Database files
*.db
*.h2.db
*.sqlite


